.demo-editor {
  height: 90vh;
  padding: 100px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  &-header {
    flex: none;
    span {
      padding-right: 20px;
    }
  }

  &-body {
    flex: 1;
  }
}
