$width: 8px;
$margin: 2px;
$radius: 4px;
$bg-bar: #989898;

// 组件整体样式控制
.qyrc-sroll {
  overflow: hidden;
  position: relative;
  &:hover {
    .qyrc-sroll-bar-slider {
      background: rgba($color: $bg-bar, $alpha: 0.3);
    }
  }
}

// 组件内容块样式
.qyrc-sroll-body {
  position: relative;
}

// 滚动条样式
.qyrc-sroll-bar {
  position: absolute;
  bottom: $margin;
  right: $margin;
  top: $margin;
  border-radius: $radius;
  &:hover{
    background: rgba($color: $bg-bar, $alpha: 0.3);
    .qyrc-sroll-bar-slider {
      background: rgba($color: $bg-bar, $alpha: 0.5);
    }
  }
}

// 隐藏滚动条样式
.qyrc-sroll-bar.qyrc-sroll-bar-hidden {
  opacity: 0;
}

// 滑块样式
.qyrc-sroll-bar-slider {
  width: $width;
  border-radius: $radius;
}

// 组件 iframe 样式控制
.qyrc-scroll-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}
