.qyrc-sroll {
  display: flex;
  width: 800px; 
  height: 400px; 
}

.qyrc-sroll-body {
  flex: 1;
  overflow: hidden;

  background: #ddd; 
}

.qyrc-sroll-body-contetn {
  background: pink; 
}

.qyrc-sroll-bar{
  flex: none;
  height: 100%;
  background: blue;
}

.qyrc-sroll-bar-slider{
  width: 20px;
  background: red;
}