.qyrc-modal {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 0px rgba($color: #333, $alpha: 0.3);
};

.qyrc-modal-body {
  position: relative;
  width: 100%;
  height: 100%;
};

/* 工具栏 */
.qyrc-modal-tool {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: transparent;

  &:hover{
    color: #333;
  }
  &-item {
    border-radius: 50%;
    font-size: 18px;
    padding: 2px;
    margin: {
      top: 5px;
      left: 5px;
      right: 5px;
    };
  }

  &-close {
    background: #ff625a;
  }

  &-max {
    background: #29ce42;
  }

  &-min {
    background: #ffc12f;
  }
}

