.qyrc-modal {
  position: absolute;
  background: rgba(255, 0, 0, 0.1);
};

.qyrc-modal-body {
  position: relative;
};

/* 工具栏 */
.qyrc-modal-tool {
  position: absolute;
  cursor: pointer;
  color: transparent;

  &:hover{
    color: #333;
  }
  &-item {
    border-radius: 50%;
    font-size: 18px;
    padding: 2px;
    margin: {
      left: 5px;
      right: 5px;
    };
  }

  &-close {
    background: #ff625a;
  }

  &-min {
    background: #ffc12f;
  }

  &-max {
    background: #29ce42;
  }
}

