/* 内容 */
.brick-window-content {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.brick-window {
  z-index: 2;
  overflow: hidden;
  position: absolute;

  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba($color: #333, $alpha: 30%);

  &.brick-window-pure {
    overflow: unset;
    box-shadow: unset;
    border-radius: unset;

    .brick-window-content {
      overflow: unset;
    }
  }
}

.brick-window-body {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 工具栏 */
.brick-window-tool {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: transparent;

  display: flex;
  justify-content: space-between;

  &:hover {
    color: #333;
  }

  &-item {
    margin: 0;
    padding: 2px;
    border-radius: 50%;
    font-size: calc(var(--icon-size) - 2px);
  }

  &-close {
    background: #ff625a;
  }

  &-max {
    background: #29ce42;
  }

  &-min {
    background: #ffc12f;
  }
}

// 最大化时设置
.brick-window.brick-window-max {
  border-radius: 0;
}
