.qyrc-window {
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba($color: #333, $alpha: 0.3);
};

.qyrc-window-body {
  position: relative;
  width: 100%;
  height: 100%;
};

/* 内容 */
.qyrc-window-content {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

/* 工具栏 */
.qyrc-window-tool {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: transparent;

  &:hover{
    color: #333;
  }

  &-item {
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
    margin: {
      left: 5px;
      right: 5px;
    };
  }

  &-close {
    background: #ff625a;
  }

  &-max {
    background: #29ce42;
  }

  &-min {
    background: #ffc12f;
  }
}

// 最大化时设置
.qyrc-window.qyrc-window-max {
  border-radius: 0px;
}
