.qyrc-tcl {
  display: flex;
  flex-direction: column;

  height: 400px;
  background: rgba(255, 0, 0, 0.1);
}

.qyrc-tcl-header {
  flex: none;

  background: rgba(255, 0, 0, 0.2);
}

.qyrc-tcl-body {
  flex: 1;
  display: flex;

  &-left {
    flex: none;

    width: 100px;
    background: #48362a;
  }
  &-center{
    flex: none;

    width: 300px;
    background: #f6ebe7;
  }
  &-right {
    flex: 1;

    background: #fbfbfb;
  }

  background: rgba(255, 0, 0, 0.5);
}

.qyrc-tcl-footer {
  flex: none;

  background: rgba(255, 0, 0, 0.2);
}
