.qyrc-tcl,
.qyrc-tcl-body,
.qyrc-tcl-right {
  display: flex;
}

.qyrc-tcl-header, 
.qyrc-tcl-left,
.qyrc-tcl-menu,
.qyrc-tcl-footer {
  flex: none;
}

.qyrc-tcl-content,
.qyrc-tcl-right,
.qyrc-tcl-body {
  flex: 1;
}

.qyrc-tcl {
  flex-direction: column;
  div {
    overflow: hidden;
  }
}

.qyrc-tcl-menu {
  position: relative;
  &-drag {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
  }
}
