
.modal-demo {
  width: 1000px;
  height: 600px;
  background: rgba(0, 255, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.modal-demo-body {
  width: 100%; 
  height: 100%; 
  background: #04071b;
}

