.scroll-box {
  width: 900px;
  height: 400px;
  background: pink;
}

// 整体样式
.scroll-box.qyrc-sroll {
  &:hover {
    .qyrc-sroll-bar-slider {
      background: red;
    }
  }
}

// 滚动条样式
.scroll-box .qyrc-sroll-bar {
  // 控制滚动条距离顶部、底部、右侧的距离, 以及圆角
  // bottom: $margin;
  // right: $margin;
  // top: $margin;
  // border-radius: $radius;

  &:hover{
    background: blue;
    .qyrc-sroll-bar-slider {
      background:red;
    }
  }
}

// 滑块样式
.qyrc-sroll-bar-slider {
  // 设置滑块宽度和圆角
  // width: $width;
  // border-radius: $radius;
}
