.qyrc-image {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .qyrc-image-bg {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .qyrc-image-bg.qyrc-image-bg-show {
    opacity: 1;
  }
}
