.brick-image {
  overflow: hidden;
  position: relative;

  &-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .brick-image-bg {
    opacity: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .brick-image-bg.brick-image-bg-show {
    opacity: 1;
  }
}
