.qyrc-image {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}