// 整体设置
.brick-markdown-preview-light {
  padding: 20px;
  background: #fff;

  color: #252933;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  // 标题设置
  @for $i from 0 through 5 {
    h#{$i + 1} {
      font-size: 1.625 - $i * 0.125 + em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    margin-top: 1.35em;
    border-bottom: 1px dashed #ddd;

    &:not(h1)::before {
      content: '#';
      color: #ff6d6d;
      padding: {
        right: 0.5em;
      };
    }
  }

  // 段落
  p {
    font-size: 1em;
    margin: 1.375em 0;
  }

  // 图片设置
  img {
    max-width: 100%;
  }

  // 折叠面板
  details {
    margin: 10px 0;
    padding: 10px 20px;
    border-left: 5px solid #ff7a45;
    background: rgb(217 217 217 / 20%);

    summary {
      color: #666;
      outline: none;
      cursor: pointer;
    }
  }

  // code `` 提示内容
  code:not(.brick-markdown-preview-code-body) {
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    border-radius: 2px;
    background-color: rgb(231 100 50 / 8%);
  }

  // 代码块部分
  .brick-markdown-preview-code {
    padding: 0;
    margin: 20px 0;
    overflow: hidden;

    font-size: 13px;

    border-radius: 8px;
    background: #282c34;

    // 滚动条宽高
    ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }

    /* 滚动条的滑轨背景颜色 */
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* 滑块 */
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(#424853, 0.8);
    }

    pre {
      margin: 0;
    }

    &-header {
      height: 36px;
      display: flex;
      align-items: center;
      background: #21252b;
      padding: {
        left: 10px;
      };

      %dot {
        width: 12px;
        height: 12px;
        margin: 0 4px;
        border-radius: 50%;
      }

      &-red {
        @extend %dot;
        background: #fc625d;
      }

      &-yellow {
        @extend %dot;
        background: #fdbc40;
      }

      &-green {
        @extend %dot;
        background: #35cd4b;
      }

      &-lang {
        flex: 1;
        opacity: 0;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.4s;
        color: rgba($color: #fff, $alpha: 80%);
        padding: {
          left: 25px;
        };
      }

      &-copy {
        opacity: 0;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.4s;
        color: rgba($color: #fff, $alpha: 80%);
      }

      &-copy:hover {
        color: rgba($color: #fff, $alpha: 50%);
      }
    }

    // 鼠标 hover 显示 lang copy
    &-header:hover {
      .brick-markdown-preview-code-header-lang {
        opacity: 1 !important;
      }

      .brick-markdown-preview-code-header-copy {
        opacity: 1 !important;
      }
    }
  }

  // 表格
  table {
    $color-border: #dfdfdf;

    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    border: 1px solid $color-border;

    th {
      padding: 6px 10px;

      color: #666;
      text-align: left;
      font-weight: bold;
      background-color: #f7f7f7;
      border: 1px solid $color-border;
    }

    td {
      padding: 6px 10px;
      border: 1px solid $color-border;
    }
  }

  // 快引用
  blockquote {
    padding: 10px 20px;
    border-left: 5px solid #ff7a45;
    background: rgb(217 217 217 / 20%);
    margin: {
      left: 0;
      right: 0;
      top: 10px;
    };
  }

  // checkbox 样式
  input[type='checkbox'] {
    width: 1em;
    height: 1em;
    margin-right: 4px;
    margin-bottom: 2px;
    vertical-align: middle;

    position: relative;

    &::before {
      content: '';
      display: block;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      border-radius: 2px;
      background-color: #fff;
      border: 1px solid #d9d9d9;
    }

    &::after {
      content: '';
      margin: auto;
      display: block;

      top: 0;
      left: 0;
      right: 0;
      bottom: 2px;
      position: absolute;

      border: 0;
      width: 6px;
      height: 10px;

      transform: rotate(45deg);
    }

    &[checked]::before {
      border: 0;
      background-color: #1890ff;
    }

    &[checked]::after {
      background-color: #1890ff;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
    }
  }

  // mermaid 样式设置
  .brick-markdown-preview-mermaid {
    text-align: center;
  }

  // echarts 样式
  .brick-markdown-preview-echarts {
    position: relative;

    &-main {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }

    &:not(.brick-error) {
      height: 400px;
    }

    &.brick-error {
      color: #f5222d;
      text-align: center;
    }
  }
}
