// 整体设置
.brick-markdown-preview-light {
  $base-font-size: 16;

  color: #252933;
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fff;

  padding: {
    left: 1.25em;
    right: 1.25em;
    bottom: 1.25em;
  };

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.42;

    margin-top: 1.35em;
    padding-bottom: 0.4em;
    border-bottom: 1px dashed #ddd;

    &:not(h1)::before {
      content: '#';
      color: #ff6d6d;
      padding: {
        right: 0.5em;
      };
    }
  }

  // 段落
  p {
    font-size: 1em;
    margin: 1.375em 0;
  }

  // 列表
  ul,
  ol {
    padding-left: 1.75em;
    margin-block-end: 1em;
    margin-block-start: 1em;

    ul,
    ol {
      margin-block-end: 0;
      margin-block-start: 0;
    }
  }

  // 图片设置
  img {
    max-width: 100%;
  }

  // 快引用、折叠面板
  details,
  blockquote {
    margin: 1.375em 0;
    padding: 1px 1.2em;

    color: #666;
    border-left: 0.25em solid #ff7a45;
    background: rgb(217 217 217 / 20%);

    > p {
      margin: 0.65em 0;
    }

    summary {
      color: #666;
      outline: none;
      cursor: pointer;
      margin: 0.65em 0;
    }
  }

  // code `` 提示内容
  code:not(.brick-markdown-preview-code-body) {
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    border-radius: 0.125em;
    background-color: rgb(231 100 50 / 8%);
  }

  // 代码块部分
  .brick-markdown-preview-code {
    padding: 0;
    margin: 1.25em 0;
    overflow: hidden;

    font-size: 0.8133em;

    border-radius: 0.5em;
    background: #282c34;

    // 滚动条宽高
    ::-webkit-scrollbar {
      height: 0.625em;
      width: 0.625em;
    }

    /* 滚动条的滑轨背景颜色 */
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* 滑块 */
    ::-webkit-scrollbar-thumb {
      border-radius: 0.25em;
      background-color: rgba(#424853, 0.8);
    }

    pre {
      margin: 0;
    }

    &-header {
      height: 2.25em;
      display: flex;
      align-items: center;
      background: #21252b;
      padding: {
        left: 0.625em;
      };

      %dot {
        width: 0.75em;
        height: 0.75em;
        margin: 0 0.25em;
        border-radius: 50%;
      }

      &-red {
        @extend %dot;
        background: #fc625d;
      }

      &-yellow {
        @extend %dot;
        background: #fdbc40;
      }

      &-green {
        @extend %dot;
        background: #35cd4b;
      }

      &-lang {
        flex: 1;
        opacity: 0;
        font-weight: 500;
        font-size: 0.875em;
        transition: all 0.4s;
        color: rgba($color: #fff, $alpha: 80%);
        padding: {
          left: 1.5em;
        };
      }

      &-copy {
        opacity: 0;
        margin: 0 0.625em;
        cursor: pointer;
        transition: all 0.4s;
        color: rgba($color: #fff, $alpha: 80%);
      }

      &-copy:hover {
        color: rgba($color: #fff, $alpha: 50%);
      }
    }

    // 鼠标 hover 显示 lang copy
    &-header:hover {
      .brick-markdown-preview-code-header-lang {
        opacity: 1 !important;
      }

      .brick-markdown-preview-code-header-copy {
        opacity: 1 !important;
      }
    }
  }

  // 表格
  table {
    $color-border: #dfdfdf;

    width: 100%;
    margin: 2.5em 0;
    border-collapse: collapse;
    border: 0.0625em solid $color-border;

    th {
      padding: 0.375em 0.625em;

      color: #666;
      text-align: left;
      font-weight: bold;
      background-color: #f7f7f7;
      border: 0.0625em solid $color-border;
    }

    td {
      padding: 0.375em 0.625em;
      border: 0.0625em solid $color-border;
    }
  }

  // checkbox 样式
  input[type='checkbox'] {
    font-size: 0.9em;
    margin: 0 0.25em 0.15em 0;
    vertical-align: middle;
  }

  // mermaid 样式设置
  .brick-markdown-preview-mermaid {
    text-align: center;
  }

  // echarts 样式
  .brick-markdown-preview-echarts {
    position: relative;

    &-main {
      inset: 0;
      position: absolute;
    }

    &:not(.brick-error) {
      height: 25em;
    }

    &.brick-error {
      color: #f5222d;
      text-align: center;
    }
  }

  // 标题设置
  @for $i from 0 through 5 {
    h#{$i + 1} {
      font-size: 1.625 - $i * 0.125 + em;
    }
  }
}
